@import './variables/variableGlobal';
@import './components/header';
@import './components/banner';
@import './components/listCourses';
@import './components/otherCourses';
@import './components/whyLearn';
@import './components/feedback';
@import './components/startLearn';
@import './components/statistic';
