@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,400;1,500&display=swap');

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  width: auto;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

@import 'components/header.scss';