.why-learn {
  background-image: url("https://res.cloudinary.com/derrfxjxx/image/upload/v1646796205/Rectangle_17_rn0hko.png");
  background-repeat: no-repeat;
  background-size: cover, contain;
  height: 900px;
  margin-top: 100px;
  position: relative;

  .why-learn-a-macbook {
    display: inline-block;
    position: absolute;
    top: -250px;
    width: 480px;

    .why-learn-a-macbook-img {
      width: 100%;
    }
  }

  .why-title {
    display: inline-block;
    position: absolute;
    top: 340px;
    left: 5rem;

    .why-title-text {
      font-size: 90px;
      font-weight: 700;
      color: $color-btn;
      margin: 0;
    }
  }

  .why-content {
    display: inline-block;
    position: absolute;
    top: 440px;
    left: 6.5rem;
  }

  .why-content-desc {
    color: $color-why-learn;
    font-size: 24px;
    letter-spacing: -0.05em;
    margin-bottom: 40px;

    .why-content-desc-text {
      font-weight: 400;
      padding-left: 12px;
    }
  }

  .why-learn-macbook-devices {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
    width: 50%;

    .why-learn-macbook-devices-img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1600px) {
  .why-learn {
    height: 800px;

    .why-learn-a-macbook {
      top: -210px;
      width: 400px;
    }

    .why-title {
      top: 270px;

      .why-title-text {
        font-size: 70px;
      }
    }

    .why-content {
      top: 350px;
    }

    .why-content-desc {
      font-size: 20px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .why-learn {
    height: 700px;

    .why-title {
      top: 270px;

      .why-title-text {
        font-size: 60px;
      }
    }

    .why-content-desc {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .why-learn {
    height: 600px;

    .why-learn-a-macbook {
      top: -185px;
      width: 350px;
    }

    .why-title {
      top: 270px;

      .why-title-text {
        font-size: 50px;
      }
    }

    .why-content {
      top: 330px;
      left: 5.5rem;
    }

    .why-content-desc {
      font-size: 16px;
      margin-bottom: 16px;
    }
  }
}

@media only screen and (max-width: 910px) {
  .why-learn {
    height: 400px;

    .why-learn-a-macbook {
      width: 30%;
      top: -150px;
    }

    .why-title {
      top: 20px;
      left: 180px;
    }

    .why-content {
      width: 60%;
      left: 1.5rem;
      top: 136px;

      .why-content-desc-text {
        font-size: 16px;
      }
    }

    .why-learn-macbook-devices {
      height: auto;
      width: 40%;
      position: absolute;
      bottom: 20px;
      right: 0;
    }
  }
}

@media only screen and (max-width: 680px) {
  .why-learn {
    height: 90vw;

    .why-learn-a-macbook {
      top: -90px;
    }

    .why-title {
      .why-title-text {
        font-size: 30px;
      }
    }

    .why-content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      align-items: center;
      left: 0;

      .why-content-desc {
        font-size: 14px;
      }
    }

    .why-learn-macbook-devices {
      width: 100%;
      bottom: 0;
      justify-content: center;

      .why-learn-macbook-devices-img {
        width: 60%;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .why-learn {
      height: 130vw;

    .why-learn-macbook-devices {
      .why-learn-macbook-devices-img {
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .why-learn {
    .why-learn-a-macbook {
      width: 40%;
    }

    .why-title {
      left: 55%;
      transform: translateX(-50%);

      .why-title-text {
        font-size: 40px;
      }
    }

    .why-content {
      .why-content-desc-text {
        font-size: 12px;
      }
    }

    .why-learn-macbook-devices {
      .why-learn-macbook-devices-img {
        width: 80%;
      }
    }
  }
}
