@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600&display=swap");

$font-opensans: "Open Sans", sans-serif;
$font-poppins: "Poppins", sans-serif;

$color-default: #505353;
$color-title: #11114e;
$color-btn: #ffffff;
$color-message: #b2b2b2;
$color-title-card: #d2d235;

$background-html: #3f6185;
$background-lavarel: #dc594c;
$background-php: #556598;
$background-css: #556598;
$background-rails: #e14e40;
$background-java: #1b75bb;
$background-style: #b2d235;
$background-footer: #505353;

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: $font-opensans;
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 35px;
  background-color: $background-style;
  box-shadow: 0px 4px 4px 0px #00000040 inset;
  font-size: 30px;
  color: $color-btn;
  border: none;

  &:hover {
    background-color: #cde66e;
  }
}

@mixin flexLayout($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
