.feedback {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  .feedback-desc {
    width: 70%;

    .feedback-text {
      font-size: 30px;
      text-align: center;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }
}

.feedback-carousel {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;

  .feedback-content {
    display: flex;
    flex-direction: column;
    margin-right: 30px;

    .feedback-box {
      width: 100%;
      height: 165px;
      border: 0.5px solid #e2e2e2;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .feedback-box-content {
      font-size: 18px;
      width: 90%;
      border-left: 5px solid #d9dadc;
      padding: 20px 0 20px 30px;
      margin: 0;
    }
  }
}

.feedback-user {
  display: flex;
  padding-left: 20px;
  padding-top: 30px;

  .feedback-avatar {
    width: 60px;
    height: 60px;
    padding-top: 10px;
  }

  .feedback-user-info {
    margin-left: 10px;

    .feedback-user-info-name {
      font-size: 24px;
      font-weight: 700;
      color: #11114e;
      margin: 0;
    }

    .feedback-user-info-lang {
      font-size: 18px;
      color: #505353;
      margin: 0;
    }
  }
}

.feedback-user-star {
  display: flex;
}

@media screen and (max-width: 1440px) {
  .feedback {
    .feedback-desc {
      .feedback-text {
        font-size: 25px;
      }
    }
  }

  .feedback-carousel {
    .feedback-content {
      .feedback-box-content {
        font-size: 16px;
      }
    }
  }

  .feedback-user {
    .feedback-avatar {
      padding-top: 0;
    }

    .feedback-user-info {
      .feedback-user-info-name {
        font-size: 20px;
      }

      .feedback-user-info-lang {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .feedback {
    .feedback-desc {
      .feedback-text {
        font-size: 18px;
      }
    }
  }

  .feedback-carousel {
    width: 80%;
    .feedback-content {
      .feedback-box-content {
        font-size: 16px;
      }
    }
  }

  .feedback-user {
    .feedback-avatar {
      padding-top: 0;
    }

    .feedback-user-info {
      .feedback-user-info-name {
        font-size: 20px;
      }

      .feedback-user-info-lang {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .feedback {
    height: 100vh;

    .feedback-desc {
      .feedback-text {
        font-size: 16px;
      }
    }
  }

  .feedback-carousel {
    width: 90%;
    .feedback-content {
      margin: 0;
      .feedback-box-content {
        font-size: 16px;
      }
    }
  }

  .feedback-user {
    .feedback-avatar {
      padding-top: 0;
    }

    .feedback-user-info {
      .feedback-user-info-name {
        font-size: 20px;
      }

      .feedback-user-info-lang {
        font-size: 14px;
      }
    }
  }
}
