.footer .ft-bg {
    background: #505353;
  }
  
  .footer .footer-up {
    height: 300px;
    position: relative;
  
    .ft-left .first {
      width: 100%;
    }
  
    .ft-left .first .logo {
      width: 300px;
      height: 60px;
  
      img {
        width: 100%;
      }
    }
  
    .ft-left .first p {
      margin-left: 3rem;
      font-size: 1rem;
      line-height: 25px;
      padding: 1rem;
      color: #fff;
    }
  
    .ft-left .second {
      width: 100%;
      gap: 3rem;
  
      a {
        color: #fff;
        font-size: 1rem;
        padding: .7rem;
        line-height: 25px;
      }
    }
  
    .ft-icons {
      height: 50px;
      gap: 1rem;
      top: 40%;
    }
  
    .ft-icons .icon {
      i {
        width: 50px;
        height: 50px;
        background: #fff;
        border-radius: 999px;
      }
  
      a {
        display: none;
        margin-left: 1rem;
        font-size: 1rem;
        text-decoration: underline;
        color: #fff;
      }
    }
  
    .i-face:hover {
      a {
        display: block;
      }
    }
  
    .i-phone:hover {
      a {
        display: block;
      }
    }
  
    .i-email:hover {
      a {
        display: block;
      }
    }
  }
  
  .footer .footer-down {
    background: #454545;
    color: #fff;
    font-size: .8rem;
  }
  
  @media (max-width: 768px) {
    .footer .footer-up .ft-left {
  
      .first .logo {
        width: 170px;
        height: 35px;
      }
  
      .first p {
        font-size: calc(1vw + .5rem);
        margin: 0;
      }
  
      .second a {
        font-size: calc(1vw + .5rem);
      }
    }
  
    .footer .footer-up .ft-icons {
      gap: .5rem;
  
      .icon {
        i {
          width: 40px;
          height: 40px;
          min-width: 30px;
          min-height: 30px;
        }
  
        a {
          display: none;
        }
      }
    }
  }
  
  @media (max-width: 576px) {
    .ft-left {
      flex-direction: column-reverse;
    }
  
    .ft-icons {
      position: absolute;
      justify-content: end;
      margin-top: 5rem;
    }
  }