.nav {
  width: 100%;
  height: 150px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 9;
  @include flexLayout(space-between);

  .nav-box {
    width: 340px;
    height: 70px;
    margin-left: 5rem;

    .nav-box-img {
      width: 100%;
    }
  }
}

.nav-menu {
  margin-right: 5rem;
  background-color: #fff;
  @include flexLayout(space-between);

  .nav-menu-item {
    padding: 8px 20px;
    border-radius: 35px;

    &.active {
      background-color: $background-style;
    }

    .nav-menu-item-link {
      text-transform: uppercase;
      font-weight: 700;
      color: $color-default;
    }
  }
}

.nav-icon {
  display: none;
}

.nav-menu-item-link {
  color: $color-btn;
}

@media screen and (max-width: 1100px) {
  .nav {
    flex-direction: column;

    .nav-box {
      width: 300px;
      height: 60px;
      margin-left: 0;
      margin-top: 20px;
    }

    .nav-menu {
      width: 90%;
      margin-right: 0;
      margin-bottom: 20px;

      .nav-menu-item {
        margin: 0;
      }
    }
  }

  .nav-menu-item-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .nav {
    height: 65px;
    width: 100%;
    display: block;
    position: relative;
    box-shadow: none;

    .nav-box {
      position: absolute;
      width: 150px;
      left: 50%;
      transform: translate(-50%);
    }

    .nav-menu {
      flex-direction: column;
      position: absolute;
      top: 65px;
      left: -100%;
      padding-bottom: 70vh;
      width: 100%;
      transition: 0.5s;
    }

    .nav-icon {
      display: block;
      position: absolute;
      top: 24px;
      left: 20px;
    }

    .active-menu {
      left: 0%;
    }
  }
  .nav-menu-item {
    margin-bottom: 20px;
    &.active {
      background-color: #fff;

      .nav-menu-item-link {
        color: $color-default;
      }
    }
    .nav-menu-item-link {
      font-size: 12px;
    }
  }
}
