.other-courses {
  flex-direction: column;
  margin-top: 100px;
  @include flexLayout();

  .other-courses-title {
    font-weight: 800;
    font-size: 80px;
    border-bottom: 5px solid $background-style;
  }

  .other-courses-link {
    font-size: 40px;
    font-weight: 700;
    margin-top: 60px;
    color: $background-style;
  }
}

@media only screen and (max-width: 900px) {
  .other-courses {
    margin-top: 60px;

    .other-courses-title {
      font-size: 50px;
    }

    .other-courses-link {
      font-size: 28px;
    }
  }
}

@media only screen and (max-width: 550px) {
  .other-courses {
    position: relative;
    top: 180px;
    height: 1300px;

    .other-courses-title {
      font-size: 40px;
      position: absolute;
      top: 0;
    }

    .other-courses-list {
      position: absolute;
      top: 120px;
    }
    
    .other-courses-link {
      top: 1220px;
      position: absolute;
      font-size: 22px;
    }
  }
}
