.why {
  background-image: url('https://s3-alpha-sig.figma.com/img/c558/56f1/074a76c0613b7249fa2847b58b2160cd?Expires=1647820800&Signature=D4h8p4Fp1bXnsCEMB20API6aUomP8uE6v2u9xM-Sfj0tAH69oIBZES95JuT8u2y80aupUbcEcNokObgzQj~ifbT6Ny-TLlX0NfVnJ1BD8zVYW90w52fpwevvjMOcGiQNkw1yqtzoCxF6orfOWbm-W2MBEoaHTNQ0DhztfWjLN1HSebcQcKtWYuaulfYkuL2-BZZNyl5wNDqO~nuosdHsB3ILLOhCwDFy1CAPGgBYWWcBKwal7Aw8AN1v~6utg4gYqdv1gbcE2fIWG1pz~6OM4JaI8rX-oDqd7yVaBcWFfxq1rnwmFeqHp6ktl4rX0BCu4Uo5pi73TM0YZy-s8SamBQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  background-repeat: no-repeat;
  background-size: cover, contain;
  height: 900px;
  margin-top: 100px;
  position: relative;

  .why-macbook-1 {
    display: inline-block;
    position: absolute;
    top: -250px;
    width: 480px;

    .why-macbook-1-img {
      width: 100%;
    }
  }

  .why-title {
    display: inline-block;
    position: absolute;
    top: 20px;

    .why-title-text {
      font-size: 70px;
      font-weight: 700;
      color: $color-btn;
    }
  }
}
